/* Layout.css */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full height of the viewport */
 
}

.content {
  flex: 1;
  padding-top: 70px; /* same as navbar height */
}

